<div class="contenedor">

    <h1>Proyectos</h1>
    <div class="contenedor-proyecto">
        <h2>Krazy Kat</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo harum reprehenderit doloribus eius magni labore delectus, veritatis voluptatem cumque eos! Illo repellendus fuga non, tempore et voluptates eligendi tenetur alias.</p>
        <a href="https://dojayuli.github.io/krazykat/" target="_blank"><button>ver sitio</button></a>
    </div>
    <div class="contenedor-proyecto">
        <h2>Krazy Kat</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo harum reprehenderit doloribus eius magni labore delectus, veritatis voluptatem cumque eos! Illo repellendus fuga non, tempore et voluptates eligendi tenetur alias.</p>
        <a href="https://dojayuli.github.io/portfolioYuli/" target="_blank"><button>ver sitio</button></a>
    </div>
    <div class="contenedor-proyecto">
        <h2>Krazy Kat</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo harum reprehenderit doloribus eius magni labore delectus, veritatis voluptatem cumque eos! Illo repellendus fuga non, tempore et voluptates eligendi tenetur alias.</p>
        <a href=""><button>ver sitio</button></a>
    </div>
   
</div>
