<div class="fondo">
    <img src="../../../assets/logo/APLogo.png" class="imagen">
    <div class="logo-flex">
        <a href="https://github.com/dojayuli" target="_blank"><img src="../../../assets/logo/github.png" class="imagen-logo"></a>
        <a href="https://www.instagram.com/juliana.riveros.5/"  target="_blank"><img src="../../../assets/logo/instagram.png" class="imagen-logo"></a>
        <a href="https://www.linkedin.com/in/yuliriverosortiz/" target="_blank"><img src="../../../assets/logo/linkedin.png" class="imagen-logo"></a>
        <a href="https://www.twitter.com/in/yuliriverosortiz/" target="_blank"><img src="../../../assets/logo/twitter.png" class="imagen-logo"></a>
    
        <button type="button" class="btn" (click)="login()" *ngIf="!isLogged">Login</button>
        <button type="button" class="btn" (click)="onLogOut()"*ngIf="isLogged">Cerrar Sesión</button>

    </div>   
</div>


