




<div class="contenedor">
    <div class="contenedor-perfil">
        <img src="../../../assets/logo/yuli8.jpg"class="circulo" alt="">
        <h2>{{persona.nombre}} {{persona.apellido}}</h2>
        <h3>Full Stack Developer Jr.</h3>

    </div>
    <div class="contenedor-acercade">
              <h1>acerca de mi:</h1>
        <p>Soy una persona con alto sentido de responsabilidad laboral, honesta, eficiente, dinámica y creativa. Muy comprometida con el desarrollo web. Apasionada de la tecnología, logrando desarrollar mis habilidades blandas como habilidades técnicas.</p>
        <p> Con conocimientos en diversas areas de la tecnología, incluyendo: HTML, CSS, JavaScript, Angular, Bootstrap, JAVA.</p>

    </div>
</div>

