<div class="contenedor"> 
    
    <h1>Mi Formación</h1>  
    
    <div class="contenedor-experiencia">
        <div class="contenedor-logo">
            <img style="width: 350px ;" src="../../../assets/logo/APLogo-20-20 (1).png" alt="">
    </div>
        <div class="contenedor-trabajo">
        <h2>"Argentina Programa" "INTI"</h2>
        <p>Argentina Programa/2022
            -Fundamentos Básicos de programación y programador Web Full Stack Junior</p>
        </div>
       
    </div>
    <div class="contenedor-experiencia">
        <div class="contenedor-logo">
            <p><img src="../../../assets/logo/IDAT.png" alt=""></p>
    </div>
        <div class="contenedor-trabajo">
        <h2>"IDAT" Instituto de Investigación de Dessarrollo de Administración y Tecnología</h2>
        <p> -Diseño Gráfico con Corel Draw / Photoshop / Paint </p>
        </div>
       
    </div>

    <div class="contenedor-experiencia">
        <div class="contenedor-logo">
            <p><img src="../../../assets/logo/oracle.pnp" alt=""></p>
    </div>
        <div class="contenedor-trabajo">
        <h2>ONE Oracle Next Education </h2>
        <p>Cursos en Front End y Java (Hard Skills)</p>
        </div>
       
    </div>



</div>




