.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(98, 15, 181);
    width: 90%;
    margin: 16px auto ;
    border-radius: 28px;
    padding: 20px;
    color: rgb(220, 189, 249);


 }



.contenedor-experiencia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;

}
.contenedor-trabajo{ 
    width: 50%;

}

@media(max-width: 576px){
    .contenedor{
        text-align: center;
    }
    .contenedor-experiencia{
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: 20px auto;
  

    }
    .contenedor-trabajo{ 
        width: 100%;
    }
    
    .contenedor h1{

        margin-left: 0;

     }
}

