<!-- You can now use it in app.component.html -->
<div class="contenedor-general">
<h1>Skills</h1>
<div class="contenedor-skills">

<circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/html.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/css.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress><circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/js.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress><circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/bootstrap.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress><circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/ts.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/jav.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/spring.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    imageSrc="../../../assets/icons/mysql.svg"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#6f42c1'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
</div>




