<div class="contenedor"> 
    
    <h1>Experiencia Laboral</h1>  
    
    <div class="contenedor-experiencia">
        <div class="contenedor-logo">
       <h1>LOGO</h1>
    </div>
        <div class="contenedor-trabajo">
        <h2>Trabajo Krazy Kat</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi et odio debitis, ipsa nihil quas ratione amet! Molestiae voluptas nihil corporis, quod rem vero omnis nam, voluptates quae possimus nesciunt!</p>
        </div>
       
    </div>
    <div class="contenedor-experiencia">
        <div class="contenedor-logo">
        <h1>LOGO</h1>
    </div>
        <div class="contenedor-trabajo">
        <h2>Trabajo Krazy Kat</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi et odio debitis, ipsa nihil quas ratione amet! Molestiae voluptas nihil corporis, quod rem vero omnis nam, voluptates quae possimus nesciunt!</p>
        </div>
       
    </div>

    <div class="contenedor-experiencia">
        <div class="contenedor-logo">
        <h1>LOGO</h1>
    </div>
        <div class="contenedor-trabajo">
        <h2>Trabajo Krazy Kat</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi et odio debitis, ipsa nihil quas ratione amet! Molestiae voluptas nihil corporis, quod rem vero omnis nam, voluptates quae possimus nesciunt!</p>
        </div>
       
    </div>



</div>



